body {
  // background: lightblue;
  width: 800;
}

input {
  margin: 2;
}

.recipe {
  background: lightcyan;
  margin: 4;
  padding: 4;
  box-shadow: -2px 2px 2px grey;

}

.modal {
  background: beige;
  margin: 2;
}